{% extends "shop/basic.html" %}

{% block title %} {{product.prod_name}} {% endblock %}

{% block body %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <div class="product-device shadow-sm d-none d-md-block">
        <img src="/media/{{product.prod_img}}">
    </div>
        <h1 class="display-4 font-weight-normal">{{product.prod_name}}</h1>
        <p class="lead font-weight-normal">{{product.prod_desc}}</p>
        <a class="btn btn-outline-secondary" id="order" href="/shop">Order Now</a>
    </div>

    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

{% endblock %}
{% block js %}
<script>
$('#order').on('click',function(){alert('Add item to cart and checkout')})
</script>
{% endblock %}